* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit;
}
/*----------------*/
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*-----*/
.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1300px;
  margin: 0px auto;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #1b3764;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
  padding: 0px 15px;
}

/*---HAMBURGER---*/
.header__hamburger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffca42;
  margin-right: 20px;
}
.header__hamburger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: black;
  left: 5px;
}
.header__hamburger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__hamburger-btn span:nth-child(3) {
  transform: translateY(10px);
}
/*---*/

.header__logo {
  width: 199px;
  padding-right: 38px;
}
.header__menu {
  flex: 1 1 auto;
}

.header__button {
  flex: 0 0 273px;
  display: flex;
  justify-content: flex-end;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__social {
  display: flex;
  align-items: center;
}
.menu__social-link {
  height: 45px;
  width: 45px;
  background-color: #fff;
  padding: 15px 18px;
  margin-right: 10px;
  transition: 0.3s;
}
.menu__social-link:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.menu__social-link img {
  vertical-align: baseline;
}

.menu__links {
  display: flex;
}
.menu__body {
}

.menu__list {
  display: flex;
  gap: 48px;
}
.menu__link {
  font-family: Inter;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #f6f8fc;
  text-align: center;
  transition: 0.3s;
}

.menu__link:hover {
  color: #ffca42;
  transition: 0.3s;
}

.menu__item {
}
.menu__shopping {
  padding-left: 40px;
}

.button {
  display: inline-block;
  font-family: Cardo;
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: #1b3764;
  padding: 17px 52px;
  border: 2px solid #ffca42;
  transition: 0.3s;
}
.button:hover {
  background-color: #fff;
  border: 2px solid #ffca42;
  transition: 0.3s;
}

.button__yellow {
  background-color: #ffca42;
}

/*---TABLET---*/

@media (max-width: 1087px) {
  [class*="__container"] {
    max-width: 970px;
  }
  .menu__list {
    gap: 20px;
  }
  s .menu__links {
    min-width: fit-content;
  }
  .menu__shopping {
    padding-left: 15px;
  }
}

/*---TABLET---*/
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 850px;
  }
  .header__container {
    justify-content: center;
  }
  .header__button {
    flex: 0 0 250px;
  }
  .menu__links {
    min-width: fit-content;
  }
  .header__hamburger-btn {
    display: block;
  }
  .menu__links {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffca42;
  }
  .menu__list {
    display: block;
  }
}
