* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: inherit;
}
/*----------------*/
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: "Inter";
  font-weight: 400;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/*-----*/
.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1300px;
  margin: 0px auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #1b3764;
}
.header__container {
  display: flex;
  min-height: 114px;
  align-items: center;
  padding: 0px 15px;
}

/*---HAMBURGER---*/
.header__hamburger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffca42;
  margin-right: 20px;
}
.header__hamburger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #1b3764;
  left: 5px;
  z-index: 3;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__hamburger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__hamburger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__hamburger-btn span {
  background-color: #000;
}

.header.open .header__hamburger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__hamburger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__hamburger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
/*---*/

.header__logo {
  width: 199px;
  padding-right: 38px;
}
.header__menu {
  flex: 1 1 auto;
}

.header__button {
  flex: 0 0 273px;
  display: flex;
  justify-content: flex-end;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__social {
  display: flex;
  align-items: center;
}
.menu__social-link {
  height: 45px;
  width: 45px;
  background-color: #fff;
  padding: 15px 18px;

  transition: 0.3s;
}

.menu__social-link:not(:last-child) {
  margin-right: 10px;
}

.menu__social-link:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.menu__social-link img {
  vertical-align: baseline;
}

.menu__links {
  display: flex;
}

.menu__list {
  display: flex;
  gap: 48px;
}
.menu__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #f6f8fc;
  text-align: center;
  transition: 0.3s;
}

.menu__link:hover {
  color: #ffca42;
  transition: 0.3s;
}

.menu__shopping {
  padding-left: 40px;
}

.menu__shopping img:hover {
  transform: scale(1.3);
}

.button {
  display: inline-block;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: #1b3764;
  padding: 17px 52px;
  border: 2px solid #ffca42;
  transition: 0.3s;
}
.button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  transition: 0.3s;
}

.button__yellow {
  background-color: #ffca42;
}

/*---MAIN BLOCK---*/
.main-header {
  background-color: #1b3764;
  padding: 210px 0px 100px 0px;
}
.main-header__container {
  display: flex;
  margin: 0 auto;
}
.main-header__content {
  padding: 140px 0px 0px 23px;
}
.main-header__image {
  margin-left: 75px;
  filter: drop-shadow(-1px 2px 11px rgba(0, 0, 0, 0.2));
}
.main-header__image img {
  width: 592px;
  height: 800px;
}

.text-block__note {
  padding-left: 40px;
  position: relative;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 21px;
  line-height: 171%;
  letter-spacing: 1.2px;
  color: #fff;
}
.text-block__note::before {
  display: block;
  content: " ";
  background: #ffca42;
  width: 35px;
  height: 2px;
  top: 50%;
  left: 0;
  position: absolute;
}

.text-block__title {
  width: 512px;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 64px;
  line-height: 122%;
  color: #fff;
  margin-bottom: 24px;
}

.text-decription {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 158%;
  color: #b4c7e7;
}
.main-header__buttons {
  display: flex;
  margin: 42px 0px 47px 0px;
}
.main-header__order-button {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  padding: 17px 52px;
  color: #1b3764;
  background-color: #ffca42;
  border: 2px solid #ffca42;
  transition: 0.3s;
}
.main-header__order-button:hover {
  background-color: #fff;
  border: 2px solid #fff;
  transition: 0.3s;
}
.order-button {
  color: #1b3764;
}

.main-header__demo-button {
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 19px;
  line-height: 160%;
  letter-spacing: 0.38px;
  height: 30px;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
  padding-left: 50px;
  padding-right: 30px;
  margin-top: 10px;
  color: #fff;
}
.demo-button:visited {
  text-decoration: none;
  color: #fff;
}
.main-header__demo-button::after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 1px;
  width: 0%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  transition: 0.35s ease;
}
.main-header__demo-button:hover::after {
  width: 152px;
  margin-left: 10px;
}

.main {
  flex: 1 1 auto;
}
/*---BOOK FEATURES---*/
.features {
  display: flex;
}
.features__column {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
.features__title {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.48px;
  color: #fff;
  padding-bottom: 12px;
}
.features__subtitle {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #b4c7e7;
  margin-left: 28px;
}
/*---ADVERTISING SECTION---*/
.title-center {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  color: #1b3764;
  text-align: center;
}
.title-center::after {
  content: "";
  display: block;
  position: absolute;
  background: #ffca42;
  height: 3px;
  width: 50px;
  left: 49%;
  margin-top: 23px;
}
.advertising__container {
  padding: 126px 0px 150px 0px;
  background-color: #fff;
}
.advertising__books-list {
  padding-top: 90px;
  display: flex;
}
.advertising__image {
  transition: 0.4s;
}
.advertising__image:hover {
  transform: scale(1.1);
  transition: 0.4s;
}
.advertising__image img {
  width: 295px;
  height: 398px;
}
.advertising__column {
  display: flex;
}
.advertising__about {
  max-width: 350px;
  padding: 40px 30px 10px 30px;
}
.advertising__book-title {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.32px;
  color: #1b3764;
  padding-bottom: 10px;
}
.advertising__book-price {
  font-family: "Inter";
  font-weight: 400;
  font-size: 21px;
  line-height: 157%;
  color: #ffca42;
}
.advertising__book-description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: #969aa0;
  padding: 17px 0px 13px 0px;
}
.advertising__book-status {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #1b3764;
}
.adertising__button {
  display: inline-block;
  background-color: #fff;
  border: 3px solid #ffca42;
  padding: 19px 52px;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  letter-spacing: 0.38px;
  color: #1b3764;
  margin-top: 27px;
  transition: 0.3s;
}
.adertising__button a:visited {
  color: inherit;
}
.adertising__button:hover {
  background-color: #ffca42;
  transition: 0.3s;
}

/*---AUTHOR SECTION---*/
.author {
  background-color: #f5f8fc;
}
.author__container {
  padding: 150px 0px 120px 0px;
}
.author__information {
  display: flex;
}

.author__content {
  position: relative;
  display: flex;
  width: 545px;
  height: 640px;
  flex-direction: row-reverse;
}
.author__picture {
  position: absolute;
  width: 525px;
  height: 620px;
  margin: -30px 50px 0px 0px;
  filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
}
.author__text {
  padding-left: 150px;
}
.title-left {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  color: #1b3764;
  position: relative;
  margin-bottom: 23px;
}
.title-left::after {
  content: "";
  display: block;
  position: absolute;
  background: #ffca42;
  height: 3px;
  width: 50px;
  margin-top: 23px;
}
.author__article {
  font-family: "Inter";
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  color: #969aa0;
  padding: 33px 0px 33px 0px;
}

.author__statistic {
  display: flex;
  justify-content: space-between;
  padding-bottom: 55px;
}
.author__column {
  width: 181px;
  height: 98px;
}
.author__column:not(:last-child) {
  border-right: 1px solid #ffca42;
}
.author__column-title {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 54px;
  line-height: 143%;
  color: #1b3764;
}
.author__column-status {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 127%;
  color: #969aa0;
}

.author__contacts-image img {
  padding: 15px 40px 15px 20px;
}
.author__contacts {
  background-color: #1b3764;
  width: 484px;
  height: 161px;
  display: flex;
}
.author__contact {
  padding: 37px 26px 25px 0px;
}
.author__name {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #ffca42;
  margin-bottom: 10px;
}
.author__mail,
.author__phone {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 158%;
  color: #b4c7e7;
  margin-bottom: 5px;
}

/*---ASSOCIATES SECTION---*/
.associates__container {
  padding: 120px 0px 130px 0px;
}
.associates__content {
  margin-bottom: 77px;
}
.associates__list {
  display: flex;
  justify-content: space-between;
}
.associates__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 313px;
  height: 254px;
}

.associates__column img {
  transition: 0.3s;
}

.associates__column img:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

.associates__company-name {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #1b3764;
  padding-top: 20px;
}
.associates__company-description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  text-align: center;
  color: #969aa0;
  margin: 0 auto;
  padding: 19px 14px 0px 14px;
}

/*---COPY SECTION---*/
.copy {
  width: 100%;
  background-color: #1b3764;
}
.copy__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-white {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 45px;
  line-height: 120%;
  color: #ffffff;
  position: relative;
  padding-bottom: 54px;
}

.title-white::after {
  content: "";
  display: block;
  position: absolute;
  background: #ffca42;
  height: 3px;
  width: 50px;
  margin-top: 23px;
}

.copy__content {
  padding-left: 70px;
}
.copy__text {
  padding-bottom: 27px;
}

.copy__button {
  display: inline-block;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  color: #fff;
  padding: 19px 52px;
  border: 3px solid #ffca42;
  transition: 0.3s;
}

.copy__button:hover {
  background-color: #ffca42;
  color: #1b3764;
  transition: 0.3s;
}

.copy__image {
  padding: 70px 70px 70px 0px;
}

/*---LEARN SECTION---*/

.learn__title {
  padding: 136px 0px 0px 0px;
}
.learn__info {
  padding: 110px 0px 140px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.learn__cards-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 303px);
  grid-template-rows: repeat(2, 272px);
  margin-top: 30px;
}
.cards-grid__item {
  background-color: #f4f8ff;
}
.cards-grid__info {
  padding: 10px 45px 27px 30px;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #1b3764;
}
span.cards-grid__circle {
  margin: 20px;
  padding: 7px 12px 11px 12px;
  font-family: "Cardo";
  font-weight: 400;
  font-size: 23px;
  line-height: 100px;
  color: #1b3764;
  background: #ffca42;
  border-radius: 100px;
  text-align: center;
}

.learn__images {
  display: flex;
}

.learn__girl-picture {
  position: absolute;
  width: 535px;
  height: 632px;
  margin: -28px;
  filter: drop-shadow(0px 0px 20px rgba(27, 55, 100, 0.3));
}

/*---PAGES SECTION---*/
.pages {
  background-color: #f4f8ff;
  width: 100%;
}
.pages__container {
  padding: 116px 0px 130px 0px;
}
.pages__chapters {
  padding: 52px 0px 70px 0px;
}
.pages__grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 635px);
  grid-template-rows: repeat(2, 242px);
  margin-top: 50px;
}
.pages__grid-item {
  background-color: #fff;
  padding: 35px 60px 40px 35px;
}
.pages__grid-title {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #1b3764;
}
.pages__grid-description {
  font-family: "Inter";
  font-weight: 400;
  font-size: 19px;
  line-height: 170%;
  color: #2d4a76;
  margin: 21px 0px 12px 0px;
}
.pages__grid-page {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #1b3764;
}
.pages__grid-page span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #2d4a76;
  margin-right: 45px;
}
.pages__grid-info {
  display: flex;
}

.pages__grid-length {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #1b3764;
}

.pages__grid-length span {
  font-family: "Inter";
  font-weight: 400;
  font-size: 17px;
  line-height: 159%;
  color: #2d4a76;
}
.pages__trial {
  align-items: center;
  margin: 0 auto;
}
.pages__button {
  background-color: #ffca42;
  display: inline-block;
  padding: 22px 90px;
  border: 2px solid #ffca42;
  transition: 0.3s;
  margin-bottom: 34px;
}
.pages__button:hover {
  background-color: #fff;

  transition: 0.3s;
}
.pages__trial {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 19px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.57px;
  color: #1b3764;
}
.pages__contact {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 158%;
  text-align: center;
  color: #2d4a76;
}
.pages__contact span {
  color: #1b3764;
}

/*---READERS SECTION---*/
.reader__container {
  padding: 120px 0px 130px 0px;
}
.readers__content {
  display: flex;
}
.readers__text {
  max-width: 450px;
  height: fit-content;
  padding-top: 100px;
}
.readers__info {
  font-family: "Inter";
  font-weight: 400;
  font-size: 19px;
  line-height: 180%;
  color: #969aa0;
  margin: 60px 65px 22px 0px;
}
.readers__ratings {
  display: flex;
  margin-bottom: 10px;
}
.readers__ratings-number {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: #1b3764;
  margin-left: 10px;
}
.readers__overall {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 158%;
  color: #1b3764;
}
.readers__grid {
  display: grid;
}
.readers__grid-item {
  background-color: #1b3764;
  width: 381px;
  height: 292px;
  padding: 28px 56px 32px 34px;
}
.readers__grid-person {
  display: flex;
  margin-bottom: 20px;
}
.readers__grid-info {
  padding: 15px 0px 0px 20px;
}
.readers__grid-info img {
  max-width: 76px;
  height: 13px;
}
.readers__grid-name {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 15px;
}
.readers__grid-title {
  font-family: "Cardo";
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 13px;
}
.readers__grid-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #b4c7e7;
}
